@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
body {
  font-family: "Comfortaa", cursive;
}

.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.hex-colors {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

.hex-colors h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.color-animation {
  -webkit-animation: colorchange 5s infinite alternate;
          animation: colorchange 5s infinite alternate;
}

.hex-colors h2 {
  font-size: 2rem;
  margin-top: 15%;
}

@-webkit-keyframes colorchange {
  0% {
    color: indigo;
  }
  20% {
    color: blue;
  }
  40% {
    color: green;
  }
  60% {
    color: yellow;
  }
  80% {
    color: orange;
  }
  100% {
    color: red;
  }
}

@keyframes colorchange {
  0% {
    color: indigo;
  }
  20% {
    color: blue;
  }
  40% {
    color: green;
  }
  60% {
    color: yellow;
  }
  80% {
    color: orange;
  }
  100% {
    color: red;
  }
}
.buttonTask {
  border-radius: 15%;
  border: none;
  background-color: yellow;
}

.btn {
  color: red;
  border: 1px solid grey;
}